@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fafafa;
  --foreground: #090a0b;
}
@theme {
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
  --font-inter: var(--font-inter);
  --font-geist: var(--font-geist);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
